#detector {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color: green;
}

.info {
    position:absolute;
    top:30px;
    left:30px;
    color: white;
    font-family:"Arial";
    font-size:20px;
    margin:0;
}
