h2 { margin: 20px 0; }
h3 { margin:0; }
p { margin: 16px 0; font-size:14px }
#detector {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    padding: 30px;
    background-color: green;
}
.info, .deviceInfo {
    color: white;
    font-family:"Arial";
}
